{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"],
          "node": "current"
        }
      }
    ],
    "@babel/react",
    "@babel/stage-0"
  ],
  "plugins": [
    "add-module-exports",
    [
      "module-resolver",
      {
        "root": ["src"]
      }
    ]
  ]
}
